<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center ">
        <section>
            <h1 class="display-1 d-flex justify-content-center ">About</h1>
            <p class="d-flex justify-content-center ">Hello, my name is Luis Fernando Paniagua Salas, I am a developer and I have knowledge about html, javascript, css, mysql, I invite you to look at the projects I have done
            </p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>