<!-- projects.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Proyectos</h1>
            <!-- Aquí puedes agregar la información sobre tus proyectos -->
            <p>Descripción de tus proyectos...</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>